<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="intro">
                    <h3 class="job-title">PAPERS</h3>
                </div><!--//intro-->


                <div class="item">
                    <p><span class="project-title"><a href="https://arxiv.org/abs/1707.00251">"Where to Play: Retrieval of video segments using natural-language queries"</a></span></p>
		    <span class="project-tagline"> Sangkuk Lee, Daesik Kim, Myunggi Lee, Jihye Hwang and Nojun Kwak, arXiv, July 2017 </span>
                </div><!--//item-->

                <div class="item">
                    <p><span class="project-title"><a href="http://ieeexplore.ieee.org/document/7965886/">"Matching Video Net: Memory-based embedding for video action recognition"</a></span></p>
		    <span class="project-tagline"> Daesik Kim, Myunggi Lee and Nojun Kwak, International Joint Conference on Neural Networks 2017 (IJCNN2017), Anchorage, AK, May 2017. </span>
                </div><!--//item-->

                <div class="item">
                    <p><span class="project-title"><a href="http://dl.acm.org/ft_gateway.cfm?id=2903686&type=pdf">"Music Genre Classification using Multimodal Deep Learning"</a></span></p>
		    <span class="project-tagline"> Seonhoon Kim, Daesik Kim and Bongwon Suh, HCI Korea 2016 </span>
                </div><!--//item-->

                <div class="item">
                    <p><span class="project-title"><a href="http://dl.acm.org/citation.cfm?id=2702613.2732858">"Design of a Smart TV Logging System Using Beacons and Smartphones"</a></span></p>
		    <span class="project-tagline"> Jehwan Seo, Daesik Kim, Bongwon Suh and Jungsik Lee, In Proceedings of the 33rd Annual ACM Conference Extended Abstracts on Human Factors in Computing Systems </span>
                </div><!--//item-->




                <div class="intro">
                    <h3 class="job-title">COMPETITIONS</h3>
                </div><!--//intro-->


                <div class="item">
                    <p>4th place of <span class="project-title"><a href="http://vuchallenge.org/tqa.html">"Textbook Question Answering Challenge"</a></span></p>
		    <span class="project-tagline"> CVPR 2017 Workshop on Visual Understanding Across Modalities</span>
                </div><!--//item-->

            </section><!--//section-->
