<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="intro">
                    <h3 class="job-title">PAPERS</h3>
                </div><!--//intro-->
                <div class="item">
                    <p>Seo, J., Kim, D., Suh, B., & Lee, J. "<span class="project-title"><a href="http://dl.acm.org/citation.cfm?id=2702613.2732858">Design of a Smart TV Logging System Using Beacons and Smartphones</a></span>" </p>
		    <span class="project-tagline"> In Proceedings of the 33rd Annual ACM Conference Extended Abstracts on Human Factors in Computing Systems </span>
                </div><!--//item-->

                <div class="intro">
                    <p>Papers</p>
                </div><!--//intro-->
                <div class="item">
                    "<span class="project-title"><a href="http://dl.acm.org/citation.cfm?id=2702613.2732858">Design of a Smart TV Logging System Using Beacons and Smartphones</a></span>" 
		    <span class="project-tagline"> In Proceedings of the 33rd Annual ACM Conference Extended Abstracts on Human Factors in Computing Systems </span>
                </div><!--//item-->

            </section><!--//section-->
